
.middle, .leftcol{display:none;}
.maincol{float:none; width:100%; padding:40px 0; font-size:16pt; line-height:21pt;}
.content-width{width:80%; padding-left:80px;}
.backnext{display:none;}
.resources{margin-top:40px;}



